*{
	padding:0;
	margin:0;
}
h1{
	color:white;
	text-align:center;
	line-height:100px;
}
h2{
	color:black;
	text-align:center;
}
header{
	height:100px;
	background-color:#008B8B;
}

#titulo{
	color:white;
	float:left;
	margin-left:150px;
}
#opcao{
	float:right;
	color:white;	
	margin-right: 150px;
	margin-top: 45px;
}
#opcao a{
	color:#00CDCD;
	margin:10px;
}
#opcao a:hover{
	background-color:#00CDCD;
	color:white;
}
#segundo{
	background-color:#00CDCD;
	height:572px;
	width:1536px;
	clear:both;
}
#terceiro{
	clear:both;
	height:50px;
	width:100%;
	background-color:#008B8B;
	text-align:center;
	color:white;
	line-height: 50px;
}
#imagem{
	float:right;
	margin-top: 50px;
	margin-right: 150px;
}
#texto{
	height:200px;
	width:768px;
	margin-top:50px;
	margin-left:150px;
	text-align:center;
	color:black;
	float:left;
}
#caixinha{
	height:100px;
	width:768px;
	margin-left:150px;
}